header h1 {
  color: #2f4f4f;
}

.post h2 {
  color: #006d77;
}
.navbar {
  background: #006d77;
  padding: 10px 0;
  margin-bottom: 20px;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}
